<div *ngIf="(isLoading$ | async)===false">

    <div class="chart-container" *ngIf="isHighcharts">
        <div id="piecontainer" class="scrollable-container">
        <highcharts-chart [Highcharts]="Highcharts" [options]="pieChart"></highcharts-chart>    
    </div>
    <div id="barcontainer1" class="scrollable-container">
        <highcharts-chart [Highcharts]="Highcharts" [options]="barChart1"></highcharts-chart>    
    </div>
    <div id="barcontainer2" class="scrollable-container">
        <highcharts-chart [Highcharts]="Highcharts" [options]="barChart2"></highcharts-chart>    
    </div>
</div>
<button (click)="sendEmail()">Send Email</button>

</div>